@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	input {
		@apply rounded-tl-lg rounded-b h-full lg:w-full;
	}
	button {
		@apply h-full bg-black w-10 flex items-center justify-center rounded-r-lg lg:h-14 lg:w-14;
	}
}
.loader div {
    animation-duration: 0.5s;
  }
  
  .loader div:first-child {
    animation-delay: 0.1s;
  }
  
  .loader div:nth-child(2) {
    animation-delay: 0.3s;
  }
  
  .loader div:nth-child(3) {
    animation-delay: 0.6s;
  }